
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>无刷新分页</title>
    <!-- Style -->
    <link href="~/Content/pagination.css" rel="stylesheet" />
    <link href="~/Content/tablecloth.css" rel="stylesheet" />
    <!-- Script -->
    <script src="~/Scripts/jquery-1.4.4.min.js"></script>
    <script src="~/Scripts/jquery.pagination.js"></script>
    <script type="text/javascript">
        var pageIndex = 0;     //页面索引初始值
        var pageSize = 10;     //每页显示条数初始化，修改显示条数，修改这里即可
        $(function () {
            InitTable(0); //Load事件，初始化表格数据，页面索引为0（第一页）

            //分页，PageCount是总条目数，这是必选参数，其它参数都是可选
            $("#Pagination").pagination('@ViewBag.pageCount',
                {
                    callback: PageCallback,
                    prev_text: '上一页', //上一页按钮里text
                    next_text: '下一页', //下一页按钮里text
                    items_per_page: pageSize, //显示条数
                    num_display_entries: 6, //连续分页主体部分分页条目数
                    current_page: pageIndex, //当前页索引
                    num_edge_entries: 2 //两侧首尾分页条目数
                });

            //翻页调用
            function PageCallback(index, jq) {
                InitTable(index);
            }

            //请求数据
            function InitTable(pageIndex) {
                $.ajax({
                    type: "POST",
                    dataType: "text",
                    url: '/PageOne/GetPagerPerson', //提交到一般处理程序请求数据
                    data: "pageIndex=" +
                        (pageIndex + 1) +
                        "&pageSize=" +
                        pageSize, //提交两个参数：pageIndex(页面索引)，pageSize(显示条数)
                    success: function (data) {
                        $("#Result tr:gt(0)").remove(); //移除Id为Result的表格里的行，从第二行开始（这里根据页面布局不同页变）
                        $("#Result").append(data); //将返回的数据追加到表格
                    }
                });
            }
        });
    </script>
</head>
<body>
    <div style="text-align: center;">
        <h1>无刷新分页演示一  -- MVC + SqlHelper + JQuery.Pagination</h1>
    </div>
<div id="container">
    <table id="Result" cellspacing="0" cellpadding="0">
        <tr>
            <th>编号</th>
            <th>名称</th>
        </tr>
        <tr id="personList"></tr>
    </table>
    <div id="Pagination"></div>

</div>
<div style="text-align: center;padding-left:36%;">
    <p>@Html.ActionLink("回到首页", "Index", "Home")</p>
</div>
</body>
</html>
